<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Attendance System</title>
		{% load static %} {% include 'Resources/Head.html' %}
	</head>

	<body class="bg-gradient-primary">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-9 col-lg-12 col-xl-10">
					<div class="card shadow-lg o-hidden border-0 my-5">
						<div class="card-body p-0">
							<div class="row">
								<div class="col-lg-6 d-none d-lg-flex">
									<div class="flex-grow-1 bg-login-image" style="background-image: url('{% static 'Resources/images/logo.svg' %}'); width: 85%; height: 85%"></div>
								</div>
								<div class="col-lg-6">
									<div class="p-5">
										<div class="text-center">
											<h4 class="text-dark mb-4">Admin Login</h4>
										</div>
										<form class="user" method="POST">
											{% csrf_token %}
											<div class="form-group">
												<p>{{ Form.Username }}</p>
												<p>{{ Form.Password }}</p>
											</div>
											<label class="{{ Visiblity }} text-danger">{{ Message }}</label>
											<button class="btn btn-primary btn-block text-white btn-user" type="submit">Login</button>
											<hr />
											<h3 class="text-info py-3">Student and Faculty Login</h3>
											<a class="btn btn-primary btn-block text-white btn-google btn-user" role="button" href="{% url 'social:begin' 'google-oauth2' %}"><i class="fab fa-google"></i>&nbsp; Login with Google</a>
											<hr />
										</form>
										<!--<div class="text-center"><a class="small" href="#">Forgot Password?</a></div>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include 'Resources/Links.html' %}
		<!-- Other JavaScript -->
		<script src="{% static 'Resources/js/main.js' %}"></script>
		<script>
			$(document).ready(function () {
				//Event code end here
				$("#sidebarToggleTop").trigger("click"); //trigger its click
			});
		</script>
	</body>
</html>
