<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
	<title>Software Management</title>
	{% load static %} {% include 'Resources/Head.html' %}
	<style>
		body {
			color: black;
		}

		th,
		td {
			padding: 5px;
		}

		#all th {
			background-color: #1c42c0;
			color: rgba(255, 243, 243, 0.966);
		}
	</style>
</head>

<body id="page-top">
	<div id="wrapper">
		<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
			<div class="container-fluid d-flex flex-column p-0">
				<a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
					<div class="sidebar-brand-icon"><img src="{% static 'Resources/images/logo.svg' %}" width="32"
							height="32" /></div>
					<div class="sidebar-brand-text mx-3"></div>
				</a>
				<hr class="sidebar-divider my-0" />
				<ul class="nav navbar-nav text-light" id="accordionSidebar">
					<li class="nav-item">
						<a class="nav-link " href="{% url 'Administration:Dashboard' %}"><i
								class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'Administration:Inventory_Manage' %}"><i
								class="fas fa-tasks"></i><span>Lab Managemenet</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{% url 'Software:Index' %}"><i
								class="fas fa-desktop"></i><span>Software</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="{% url 'hardware:index' %}"><i
								class="fas fa-cog"></i><span>Hardware</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'Administration:Profile' %}"><i
								class="fas fa-cog"></i><span>Account Settings</span></a>
					</li>
				</ul>
				<div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
						id="sidebarToggle" type="button"></button></div>
			</div>
		</nav>
		<div class="d-flex flex-column" id="content-wrapper">
			<div id="content">
				{% include 'Resources/Menu1.html' %}
				<div class="container-fluid ">
					<div class="row">
						<div class="col-md-12">
							<div class="text-center bg-primary mb-5 text-light pt-2 pb-1 rounded">
								<h1>Softwares Use in Labs</h1>
							</div>
							<br>
							<form class="input-group mb-4" action="">
								<input type="text" name="q" class="form-control form-control-lg"
									placeholder="Search  by   Software Name     or    Lab No. " />
								<button class="btn btn-dark btn-lg" type="submit" id="button-addon2">Search</button>

							</form>
							<em>Total : {{items|length}}</em>
							<div style="text-align: center;">
								<table border="1" style="margin: 10px; width: 100%;" id="all">
									<thead>
										<tr>
											<th>S.No</th>
											<th>Software Name</th>
											<th>Lab No.</th>
											<th>Operations</th>


										</tr>
									</thead>
									<tbody>
										{% for Software_manage in items %}
										<tr>
											<td>{{Software_manage.id}}</td>
											<td>{{Software_manage.SName}}</td>
											<td>{{Software_manage.LabI}}</td>
											<td>
												<a href="{% url 'Software:Update_man' Software_manage.id %}"
													class="btn btn-success"> Edit</a>

												<a href="{% url 'Software:Del_man' Software_manage.id  %}"
													class="btn btn-danger">Delete</a>

											</td>

										</tr>
										{% endfor %}
									</tbody>
								</table>


							</div>

						</div>
					</div>
				</div>
			</div>
			{% include 'Resources/Footer1.html' %}
		</div>
		<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
	</div>
	{% include 'Resources/Links.html' %}
	<!-- Other JavaScript -->
	<script src="{% static 'Resources/js/main.js' %}"></script>
	<script>
		$(document).ready(function () {
			//Event code end here
			$("#sidebarToggleTop").trigger("click"); //trigger its click
		});
	</script>
</body>

</html>