<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Attendance System</title>
		{% load static %} {% include 'Resources/Head.html' %}
		<style>
			@media (max-width: 576px) {
				li {
					width: 100%;
				}
			}

			@media (max-width: 768px) {
				li {
					width: 100%;
				}
			}
		</style>
	</head>

	<body id="page-top">
		<div id="wrapper">
			<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
				<div class="container-fluid d-flex flex-column p-0">
					<a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
						<div class="sidebar-brand-icon"><img src="{% static 'Resources/images/logo.svg' %}" width="32" height="32" /></div>
						<div class="sidebar-brand-text mx-3"></div>
					</a>
					<hr class="sidebar-divider my-0" />
					<ul class="nav navbar-nav text-light" id="accordionSidebar">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Administration:Dashboard' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="{% url 'Attendance:Manage' %}"><i class="fas fa-clipboard-list"></i><span>Attendance</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Marks:Manage' %}"><i class="fas fa-trophy"></i><span>Marks Distribution</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Mails:Compose' %}"><i class="fas fa-envelope"></i><span>Send Emails</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Department:Manage' %}"><i class="fas fa-building"></i><span>Course and Subjects</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Administration:Inventory_Manage' %}"><i class="fas fa-tasks"></i><span>Lab Management</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Furniture:index' %}"><i class="fas fa-table"></i><span>Furniture</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Library:Manage' %}"><i class="fas fa-book-reader"></i><span>Library</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Thesis:Manage' %}"><i class="fas fa-file-alt"></i><span>Thesis</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Students:Manage' %}"><i class="fas fa-users"></i><span>Students</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Faculty:Manage' %}"><i class="fas fa-user-friends"></i><span>Faculties</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Administration:Profile' %}"><i class="fas fa-cog"></i><span>Account Settings</span></a>
						</li>
					</ul>
					<div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
				</div>
			</nav>
			<div class="d-flex flex-column" id="content-wrapper">
				<div id="content">
					{% include 'Resources/Menu.html' %}
					<div class="container-fluid">
						<div class="d-sm-flex justify-content-between align-items-center mb-4">
							<h3 class="text-dark mb-0">Manage Attendance</h3>
						</div>
						<div class="row">
							<div class="col-md-6 col-xl-5 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
										<ul class="nav nav-tabs" id="myTab" role="tablist">
											{% if perms.Resources.attendance_rights %}
											<li class="nav-item" role="presentation">
												<a class="nav-link active" id="take-tab" data-toggle="tab" href="#take" role="tab" aria-controls="take" aria-selected="true">Take Attendance</a>
											</li>
											{% endif %}
											{% if perms.Resources.attendance_rights %}
											<li class="nav-item" role="presentation">
												<a class="nav-link" id="view-tab" data-toggle="tab" href="#view" role="tab" aria-controls="view" aria-selected="false">View Attendance</a>
											</li>
											{% endif %}
											<li class="nav-item" role="presentation">
												<a class="nav-link" id="viewstudents-tab" data-toggle="tab" href="#viewstudents" role="tab" aria-controls="viewstudents" aria-selected="false">View Attendance (Students Only)</a>
											</li>
											{% if perms.Resources.attendance_view_rights %}
											<li class="nav-item" role="presentation">
												<a class="nav-link" id="report-tab" data-toggle="tab" href="#report" role="tab" aria-controls="report" aria-selected="false">Attendance Report</a>
											</li>
											{% endif %}
										</ul>
										<div class="tab-content" id="myTabContent">
											{% if perms.Resources.attendance_rights %}
											<div class="tab-pane fade show active" id="take" role="tabpanel" aria-labelledby="take-tab">
												<!-- Take Attendance -->
												<div style="padding: 20px">
													<div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Take Attendance</span></div>
													<br/>
													{% if perms.Resources.attendance_rights %}
														{% if not request.user.is_superuser %}
															{% for object in FacultyAssigned %}
															<p>
																<a href="{% url 'Attendance:Take' %}?subject={{ object.Subject_id.id }}">{{ object.Subject_id.Name }}</a>
															</p>
															{% endfor %} 
														{% else %}
															<h3 class="text-danger">Admin account can not take attendance, log in using a faculty account.</h3>
														{% endif %}
													{% else %}
														<h3 class="text-danger">Student can not take attendance, to view your attendance use "View Attendance (Students Only)" tab to view your attendance.</h3>
													{% endif %}
												</div>
											</div>
											{% endif %}
											<div class="tab-pane fade" id="view" role="tabpanel" aria-labelledby="view-tab">
												<!-- View Attendance -->
												<div style="padding: 20px">
													<div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>View Attendance</span></div>
													<br/>
													{% if perms.Resources.attendance_rights %}
														{% if not request.user.is_superuser %}
															<div class="form-group py-4">
																<form method="POST" action="{% url 'Attendance:ViewAttendance' %}">
																	{% csrf_token %}
																	<p>
																		<label for="id_dateselect">Select Date</label>
																		<input id="id_dateselect" class="form-control" type="date" name="ViewDate" value="{% now 'Y-m-d' %}" />
																	</p>
																	<p>
																		<label for="id_subjectselect">Select Subject</label>
																		<select id="id_subjectselect" name="subjectselect" class="form-control">
																			<option value="0" selected disabled>--Select Subject--</option>
																			{% for object in FacultyAssigned %}
																				<option value="{{ object.Subject_id.id }}">{{ object.Subject_id.Name }}</option>
																			{% endfor %}
																		</select>
																	</p>
																	<button type="submit" class="btn btn-success"><i class="fa fa-clipboard-list"></i>&nbsp;&nbsp;View Attendance</button>
																</form>
															</div>
														{% else %}
															<h3 class="text-danger">Admin account can not view indivisual subjects, log in using a faculty account.</h3>
														{% endif %}
													{% else %}
														<h3 class="text-danger">Student can not view attendance sheet, use "View Attendance (Students Only)" tab to view your attendance.</h3>
													{% endif %}
												</div>
											</div>
											<div class="tab-pane fade" id="viewstudents" role="tabpanel" aria-labelledby="viewstudents-tab">
												<!-- View Attendance Students -->
												<div style="padding: 20px">
													<div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>View Attendance (Students Only)</span></div>
													<br/>
													{% for subject in StudentSubject %}
													<p>
														<a href="{% url 'Attendance:ViewStudent' %}?subject={{ subject.id }}">{{ subject.Name }}</a>
													</p>
													{% endfor %}
												</div>
											</div>
											{% if perms.Resources.attendance_view_rights %}
											<div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-tab">
												<!-- Report -->
												<div style="padding: 20px">
													<div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Generate Report</span></div>
													<div class="form-group py-4">
														<form method="POST" action="{% url 'Attendance:Generate' %}">
															{% csrf_token %}
															<p>
																<label for="id_dateselectfrom">From Date</label>
																<input id="id_dateselectfrom" class="form-control" type="date" name="ViewDateFrom" value="{% now 'Y-m-d' %}" required />
															</p>
															<p>
																<label for="id_dateselectto">To Date</label>
																<input id="id_dateselectto" class="form-control" type="date" name="ViewDateTo" value="{% now 'Y-m-d' %}" required />
															</p>
															<p>
																<label>Report Type</label>
																<div class="custom-control custom-radio custom-control-inline">
																	<input type="radio" id="id_Report_Monthly" name="reportType" class="custom-control-input" value="1" />
																	<label class="custom-control-label" for="id_Report_Monthly">Monthly Calculated</label>
																</div>
																<div class="custom-control custom-radio custom-control-inline">
																	<input type="radio" id="id_Report_Total" name="reportType" class="custom-control-input" value="2" checked />
																	<label class="custom-control-label" for="id_Report_Total">Total Calculated</label>
																</div>
															</p>
															<p>
																<br/><label for="">Shortlist Criteria</label><br/>
																<label>Attendance Percentage (Less Than):</label>
																<input type="number" class="form-control" name="ShortlistPercentage" max="100" min="1" id="id_ShortlistPercentage" value="75" required/>
																<div class="custom-control custom-radio custom-control-inline">
																	<input type="radio" id="id_Shortlist_Highlight" name="shortlistType" class="custom-control-input" value="1" />
																	<label class="custom-control-label" for="id_Shortlist_Highlight">Highlight Student's Attendance</label>
																</div>
																<div class="custom-control custom-radio custom-control-inline">
																	<input type="radio" id="id_Shortlist_Show" name="shortlistType" class="custom-control-input" value="2" checked />
																	<label class="custom-control-label" for="id_Shortlist_Show">Only Show Shortlisted Students</label>
																</div>
															</p>
															<p>
																<br/><label for="department2">Department</label>
																<select class="form-control" id="department2" onchange="onDepartmentChange('#department2', '#course2', '', '', '');">
																	<option value="0">-Select Department-</option>
																	{% for i in Departments %}
																	<option value="{{ i.id }}">{{ i.Name }}</option>
																	{% endfor %}
																</select>
															</p>
															<p>
																<select class="form-control collapse" name="course2" id="course2" onchange="onCourseChange('#course2', '#branch2', '', '', '');">
																	<option value="0">----</option>
																</select>
															</p>
															<p>
																<select class="form-control collapse" name="branch2" id="branch2" onchange="onBranchChange('#branch2', '#semester2', '', '', '');">
																	<option value="0">----</option>
																</select>
															</p>
															<p>
																<select class="form-control collapse" name="semester2" id="semester2" onchange="onSubjectChange('#generateReportButton');">
																	<option value="0">----</option>
																</select>
															</p>
															<button id="generateReportButton" class="btn btn-primary" type="submit" disabled="disabled"><i class="fas fa-table"></i>&nbsp;&nbsp;Generate Report</button>
														</form>
													</div>
												</div>
											</div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% include 'Resources/Footer.html' %}
			</div>
			<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
		</div>
		{% include 'Resources/Links.html' %}
		<!-- Other JavaScript -->
		<script src="{% static 'Resources/js/main.js' %}"></script>
		<script>
			$(document).ready(function () {
				//Event code end here
				$("#sidebarToggleTop").trigger("click"); //trigger its click
			});

			function getCookie(c_name) {
				if (document.cookie.length > 0) {
					c_start = document.cookie.indexOf(c_name + "=");
					if (c_start != -1) {
						c_start = c_start + c_name.length + 1;
						c_end = document.cookie.indexOf(";", c_start);
						if (c_end == -1) c_end = document.cookie.length;
						return unescape(document.cookie.substring(c_start, c_end));
					}
				}
				return "";
			}

			function onDepartmentChange(departmentFieldID, courseFieldID, disabledButtonID1, disabledButtonID2, disabledButtonID3) {
				var deptid = $(departmentFieldID).val();

				$.ajax({
					headers: { "X-CSRFToken": getCookie("csrftoken") },
					url: "{% url 'Resources:Course' %}",
					type: "POST",
					data: { depart: deptid },
					dataType: "json",
					success: function (response) {
						var len = Object.keys(response).length;

						$(courseFieldID).empty();
						$(courseFieldID).append("<option value='0' disabled selected>--Select Course--</option>");

						$.each(response, function (key, value) {
							$(courseFieldID).append("<option value='" + key + "'>" + value + "</option>");
						});

						$(courseFieldID).removeClass("collapse");

						if (disabledButtonID1 != "") {
							$(disabledButtonID1).removeAttr("disabled");
						}

						if (disabledButtonID1 != "") {
							$(disabledButtonID2).removeAttr("disabled");
						}

						if (disabledButtonID1 != "") {
							$(disabledButtonID3).removeAttr("disabled");
						}
					},
				});
			}

			function onCourseChange(courseFieldID, branchFieldID, disabledButtonID1, disabledButtonID2, disabledButtonID3) {
				var deptid = $(courseFieldID).val();

				$.ajax({
					headers: { "X-CSRFToken": getCookie("csrftoken") },
					url: "{% url 'Resources:Branch' %}",
					type: "POST",
					data: { course: deptid },
					dataType: "json",
					success: function (response) {
						var len = Object.keys(response).length;

						$(branchFieldID).empty();
						$(branchFieldID).append("<option value='0' disabled selected>--Select Branch--</option>");

						$.each(response, function (key, value) {
							$(branchFieldID).append("<option value='" + key + "'>" + value + "</option>");
						});

						$(branchFieldID).removeClass("collapse");

						if (disabledButtonID1 != "") {
							$(disabledButtonID1).removeAttr("disabled");
						}

						if (disabledButtonID1 != "") {
							$(disabledButtonID2).removeAttr("disabled");
						}

						if (disabledButtonID1 != "") {
							$(disabledButtonID3).removeAttr("disabled");
						}
					},
				});
			}

			function onBranchChange(branchFieldID, semesterFieldID, disabledButtonID1, disabledButtonID2, disabledButtonID3) {
				var deptid = $(branchFieldID).val();

				$.ajax({
					headers: { "X-CSRFToken": getCookie("csrftoken") },
					url: "{% url 'Resources:Semester' %}",
					type: "POST",
					data: { branch: deptid },
					dataType: "json",
					success: function (response) {
						var len = Object.keys(response).length;

						$(semesterFieldID).empty();
						$(semesterFieldID).append("<option value='0' disabled selected>--Select Semester--</option>");

						$.each(response, function (key, value) {
							$(semesterFieldID).append("<option value='" + key + "'>" + value + "</option>");
						});

						$(semesterFieldID).removeClass("collapse");

						if (disabledButtonID1 != "") {
							$(disabledButtonID1).removeAttr("disabled");
						}

						if (disabledButtonID1 != "") {
							$(disabledButtonID2).removeAttr("disabled");
						}

						if (disabledButtonID1 != "") {
							$(disabledButtonID3).removeAttr("disabled");
						}
					},
				});
			}

			function onSemesterChange(semesterFieldID, subjectFieldID, disabledButtonID1, disabledButtonID2, disabledButtonID3) {
				var deptid = $(semesterFieldID).val();

				$.ajax({
					headers: { "X-CSRFToken": getCookie("csrftoken") },
					url: "{% url 'Resources:Subject' %}",
					type: "POST",
					data: { semester: deptid },
					dataType: "json",
					success: function (response) {
						var len = Object.keys(response).length;

						$(subjectFieldID).empty();
						$(subjectFieldID).append("<option value='0' disabled selected>--Select Subject--</option>");

						$.each(response, function (key, value) {
							$(subjectFieldID).append("<option value='" + key + "'>" + value + "</option>");
						});

						$(subjectFieldID).removeClass("collapse");

						if (disabledButtonID1 != "") {
							$(disabledButtonID1).removeAttr("disabled");
						}

						if (disabledButtonID1 != "") {
							$(disabledButtonID2).removeAttr("disabled");
						}

						if (disabledButtonID1 != "") {
							$(disabledButtonID3).removeAttr("disabled");
						}
					},
				});
			}

			function onSubjectChange(buttonID) {
				$(buttonID).removeAttr("disabled");
			}

			$(function() { 
				$('#id_studentEnrollment').keyup(function() { 
					this.value = this.value.toLocaleUpperCase(); 
				}); 
			}); 
		</script>
	</body>
</html>
