<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Attendance System</title>
		{% load static %} {% include 'Resources/Head.html' %}
	</head>

	<body id="page-top">
		<div id="wrapper">
			<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
				<div class="container-fluid d-flex flex-column p-0">
					<a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
						<div class="sidebar-brand-icon"><img src="{% static 'Resources/images/logo.svg' %}" width="32" height="32" /></div>
						<div class="sidebar-brand-text mx-3"></div>
					</a>
					<hr class="sidebar-divider my-0" />
					<ul class="nav navbar-nav text-light" id="accordionSidebar">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Administration:Dashboard' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="{% url 'Attendance:Manage' %}"><i class="fas fa-clipboard-list"></i><span>Attendance</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Marks:Manage' %}"><i class="fas fa-trophy"></i><span>Marks Distribution</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Mails:Compose' %}"><i class="fas fa-envelope"></i><span>Send Emails</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Department:Manage' %}"><i class="fas fa-building"></i><span>Course and Subjects</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Administration:Inventory_Manage' %}"><i class="fas fa-tasks"></i><span>Lab Management</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Furniture:index' %}"><i class="fas fa-table"></i><span>Furniture</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Library:Manage' %}"><i class="fas fa-book-reader"></i><span>Library</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Thesis:Manage' %}"><i class="fas fa-file-alt"></i><span>Thesis</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Students:Manage' %}"><i class="fas fa-users"></i><span>Students</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Faculty:Manage' %}"><i class="fas fa-user-friends"></i><span>Faculties</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Administration:Profile' %}"><i class="fas fa-cog"></i><span>Account Settings</span></a>
						</li>
					</ul>
					<div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
				</div>
			</nav>
			<div class="d-flex flex-column" id="content-wrapper">
				<div id="content">
					{% include 'Resources/Menu.html' %}
					<div class="container-fluid">
						<div class="d-sm-flex justify-content-between align-items-center mb-4">
							<h3 class="text-dark mb-0">Take Attendance</h3>
						</div>
						<div class="row">
							<div class="col-md-6 col-xl-5 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
										<div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Student List</span></div>
										<br/>
										<h4 class="text-success">{{ subjectName }}</h4>
										<br/>
										<label>Total Students: {{ StudentListLength }}</label>
										<div class="form-group py-4">
											<form id="AttendanceForm" method="POST" action="{% url 'Attendance:TakeSuccess' %}">
												{% csrf_token %}
												<div class="form-check" style="margin: 10px">
													<input type="checkbox" class="form-check-input" id="select-all" />
													<label class="form-check-label text-dark" for="select-all">Select All</label>
												</div>
												{% for student in StudentList %}
												<hr />
													<div class="form-check text-center justify-content-center" style="margin: 10px">
														<img class="img-thumbnail" style="width: 128px; height 128px;" src="data:;base64,{{ student.Photo }}" />
														<br /><br />
														<input type="checkbox" class="form-check-input" name="studentchecks[]" id="id_student_{{ student.id }}" value="{{ student.Email }}" />
														<label class="form-check-label text-primary" for="id_student_{{ student.id }}">{{ student.First }}&nbsp;{{ student.Last }} - {{ student.Enrollment }}</label>
													</div>
												<hr />
												{% endfor %}
												<br />
												<label>Lecture Type:&nbsp;&nbsp;&nbsp;</label><br />
												<div class="custom-control custom-radio custom-control-inline">
													<input type="radio" id="Theory" name="attendanceType" class="custom-control-input" value="1" checked />
													<label class="custom-control-label" for="Theory">Theory Lecture</label>
												</div>
												<div class="custom-control custom-radio custom-control-inline">
													<input type="radio" id="Lab" name="attendanceType" class="custom-control-input" value="2" />
													<label class="custom-control-label" for="Lab">Lab Lecture</label>
												</div>
												<input type="hidden" value="{{ subjectField }}" id="id_attendanceSubject" name="attendanceSubject" />
												<br /><br />
												<label>Attendance Date: {% now 'd-m-Y' %}</label>
												<input type="hidden" value="{% now 'Y-m-d' %}" name="AttendanceDate" />
												<br />
												<button id="id_Submit_Button" class="btn btn-success" type="submit"><i class="fas fa-clipboard-check"></i>&nbsp;&nbsp;Submit</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<section>
					<div class="modal fade" id="Modal_Duplicate_Message" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="Modal_Duplicate_MessageLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Modal_Duplicate_MessageLabel">Attendance Already Exist</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">Attendance for selected lecture type already exist for today, can not take multiple attendance for same lecture type.</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">Okay</button>
								</div>
							</div>
						</div>
					</div>
				</section>
				{% include 'Resources/Footer.html' %}
			</div>
			<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
		</div>
		{% include 'Resources/Links.html' %}
		<!-- Other JavaScript -->
		<script src="{% static 'Resources/js/main.js' %}"></script>
		<script>
			$(document).ready(function () {
				//Event code end here
				$("#sidebarToggleTop").trigger("click"); //trigger its click
			});

			$(document).ready(function () {
				$("#select-all").on("click", function () {
					$('input[type="checkbox"]').prop("checked", this.checked);
				});
			});

			function getCookie(c_name) {
				if (document.cookie.length > 0) {
					c_start = document.cookie.indexOf(c_name + "=");
					if (c_start != -1) {
						c_start = c_start + c_name.length + 1;
						c_end = document.cookie.indexOf(";", c_start);
						if (c_end == -1) c_end = document.cookie.length;
						return unescape(document.cookie.substring(c_start, c_end));
					}
				}
				return "";
			}

			var allCheck = true;

			$("#AttendanceForm").submit(function( event ) {

				$('#id_Submit_Button').prop('disabled', true);
			
				var subjectID = $('#id_attendanceSubject').val();
				var dateToday = "{% now 'Y-m-d' %}";
				var lectureType = '';

				if($('#Theory').is(":checked"))
				{
					var lectureType = 'Theory';
				}
				else
				{
					var lectureType = 'Lab';
				}

				
				$.ajax({
					headers: { "X-CSRFToken": getCookie("csrftoken") },
					url: "{% url 'Attendance:CheckMultiple' %}",
					type: "POST",
					data: { currentSubject: subjectID, currentDate: dateToday, currentLecture: lectureType },
					dataType: "json",
					success: function (response) {

						if (response.hasOwnProperty("Error")) {
							$("#Modal_Duplicate_Message").modal();
							$('#id_Submit_Button').prop('disabled', false);
							event.preventDefault();
						}
						else
						{
							allCheck = false;
							$('#AttendanceForm').submit();
						}

					},
				});
			
				if (allCheck) {
					event.preventDefault();
				}
			});
		</script>
	</body>
</html>
