<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Attendance System</title>
		{% load static %} {% include 'Resources/Head.html' %}
	</head>

	<body id="page-top">
		<div id="wrapper">
			<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
				<div class="container-fluid d-flex flex-column p-0">
					<a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
						<div class="sidebar-brand-icon">
							<img src="{% static 'Resources/images/logo.svg' %}" width="32" height="32" />
						</div>
						<div class="sidebar-brand-text mx-3"></div>
					</a>
					<hr class="sidebar-divider my-0" />
					<ul class="nav navbar-nav text-light" id="accordionSidebar">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Administration:Dashboard' %}">
								<i class="fas fa-tachometer-alt"></i>
								<span>Dashboard</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Attendance:Manage' %}">
								<i class="fas fa-clipboard-list"></i>
								<span>Attendance</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Marks:Manage' %}"><i class="fas fa-trophy"></i><span>Marks Distribution</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Mails:Compose' %}">
								<i class="fas fa-envelope"></i>
								<span>Send Emails</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Department:Manage' %}">
								<i class="fas fa-building"></i>
								<span>Course and Subjects</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Administration:Inventory_Manage' %}"><i class="fas fa-tasks"></i><span>Lab Management</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Furniture:index' %}"><i class="fas fa-table"></i><span>Furniture</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Students:Manage' %}">
								<i class="fas fa-users"></i>
								<span>Students</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Faculty:Manage' %}">
								<i class="fas fa-user-friends"></i>
								<span>Faculties</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="{% url 'Administration:Profile' %}">
								<i class="fas fa-cog"></i>
								<span>Account Settings</span>
							</a>
						</li>
					</ul>
					<div class="text-center d-none d-md-inline">
						<button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
					</div>
				</div>
			</nav>
			<div class="d-flex flex-column" id="content-wrapper">
				<div id="content">
					{% include 'Resources/Menu.html' %}
					<div class="container-fluid">
						<div class="d-sm-flex justify-content-between align-items-center mb-4">
							<h3 class="text-dark mb-0">Account Settings</h3>
						</div>
						<div class="row">
							{% if perms.Resources.permission_rights %}
							<div class="col-md-6 col-xl-3 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
										<div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
											<span>Grant Permission</span>
										</div>
										<div class="form-group py-4">
											<form method="POST" action="{% url 'Administration:PermissionForm' %}">
												{% csrf_token %}
												<p>
													<label for="id_FacultyEmail">Write Comma Seperated Faculty Emails</label>
													{{ permissionForm.FacultyEmail }}
												</p>
												<div class="form-check">
													{{ permissionForm.Department }}
													<label class="form-check-label" for="id_Department">Manage Department and Courses</label>
												</div>
												<div class="form-check">
													{{ permissionForm.Faculty }}
													<label class="form-check-label" for="id_Faculty">Manage Faculties</label>
												</div>
												<div class="form-check">
													{{ permissionForm.Student }}
													<label class="form-check-label" for="id_Student">Manage Students</label>
												</div>
												<div class="form-check">
													{{ permissionForm.Attendance }}
													<label class="form-check-label" for="id_Attendance">Take Attendance</label>
												</div>
												<div class="form-check">
													{{ permissionForm.ViewAttendance }}
													<label class="form-check-label" for="id_ViewAttendance">View Student's Attendance Report Sheet</label>
												</div>
												<div class="form-check">
													{{ permissionForm.Marks }}
													<label class="form-check-label" for="id_Marks">Marks Distribution</label>
												</div>
												<div class="form-check">
													{{ permissionForm.ViewMarks }}
													<label class="form-check-label" for="id_ViewMarks">View Student's Marks Distribution Sheet</label>
												</div>
												<div class="form-check">
													{{ permissionForm.Emails }}
													<label class="form-check-label" for="id_Emails">Send Emails</label>
												</div>
												<div class="form-check">
													{{ permissionForm.SMS }}
													<label class="form-check-label" for="id_SMS">Send SMS</label>
												</div>
												<div class="form-check">
													{{ permissionForm.API }}
													<label class="form-check-label" for="id_API">Add Send Grid and Twilio API Key</label>
												</div>
												<div class="form-check">
													{{ permissionForm.Permission }}
													<label class="form-check-label" for="id_Permission">Grant Above Permissions to Others</label>
												</div>
												<br />
												<p class="{{ Visiblity }} text-{{ color }}">{{ Message }}</p>
												<div class="{{ Visiblity }}">
													{% if invalidEmails|length > 0 %}
													<p class="text-danger">Warning: Some emails are invalid, See Below.</p>
													{% endif %} {% for email in invalidEmails %}
													<p class="text-danger">{{ email }}</p>
													{% endfor %}
												</div>
												<button type="submit" class="btn btn-success"><i class="fas fa-cog"></i>&nbsp;&nbsp;Update Access</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							{% endif %} {% if perms.Resources.api_rights %}
							<div class="col-md-6 col-xl-3 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
										<div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
											<span>Change Twilio API</span>
										</div>
										<div class="form-group py-4">
											<form method="POST" action="{% url 'Administration:APITwilioProfile' %}">
												{% csrf_token %}
												<p>{{ twilioForm.SID }}</p>
												<p>{{ twilioForm.Token }}</p>
												<p>{{ twilioForm.Notify }}</p>
												<p class="{{ Visiblity6 }} text-{{ color6 }}">{{ Message6 }}</p>
												<button type="submit" class="btn btn-success">
													<i class="fas fa-cog"></i>
													&nbsp;&nbsp;Change API
												</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-xl-3 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
										<div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
											<span>Change SendGrid API</span>
										</div>
										<div class="form-group py-4">
											<form method="POST" action="{% url 'Administration:APIProfile' %}">
												{% csrf_token %}
												<p>{{ apiform.Key }}</p>
												<p class="{{ Visiblity2 }} text-{{ color2 }}">{{ Message2 }}</p>
												<button type="submit" class="btn btn-success">
													<i class="fas fa-cog"></i>
													&nbsp;&nbsp;Change API
												</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							{% endif %}
							{% if usertype == 1 %}
							<div class="col-md-6 col-xl-3 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
										<div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
											<span>Update Faculty Profile</span>
										</div>
										<div class="form-group py-4">
											<form id="FacultyForm" method="POST" action="{% url 'Administration:UpdateFaculty' %}">
												{% csrf_token %}
												{{ facultyForm.as_p }}
												<button type="submit" class="btn btn-success"><i class="fas fa-cog"></i>&nbsp;&nbsp;Update</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							{% endif %}
							{% if usertype == 0 %}
							<div class="col-md-6 col-xl-3 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
										<div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
											<span>Update Student Profile</span>
										</div>
										<div class="form-group py-4">
											<form method="POST" action="{% url 'Administration:UpdateStudent' %}">
												{% csrf_token %}
												{{ studentForm.as_p }}
												<button type="submit" class="btn btn-success"><i class="fas fa-cog"></i>&nbsp;&nbsp;Update</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							{% endif %}
							{% if request.user.is_superuser == 1 %}
							<div class="col-md-6 col-xl-3 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
										<div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
											<span>Admin Backend</span>
										</div>
										<div class="form-group py-4">
											<a type="submit" class="btn btn-success" href="/admin/"><i class="fas fa-cog"></i>&nbsp;&nbsp;Open</a>
										</div>
									</div>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
				{% include 'Resources/Footer.html' %}
			</div>
			<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
		</div>
		{% include 'Resources/Links.html' %}
		<!-- Other JavaScript -->
		<script src="{% static 'Resources/js/main.js' %}"></script>
		<script>
			function getCookie(c_name) {
				if (document.cookie.length > 0) {
					c_start = document.cookie.indexOf(c_name + "=");
					if (c_start != -1) {
						c_start = c_start + c_name.length + 1;
						c_end = document.cookie.indexOf(";", c_start);
						if (c_end == -1) c_end = document.cookie.length;
						return unescape(document.cookie.substring(c_start, c_end));
					}
				}
				return "";
			}

			$(document).ready(function () {
				//Event code end here
				$("#sidebarToggleTop").trigger("click"); //trigger its click
			});

			function onDepartmentChange(departmentFieldID, courseFieldID, disabledButtonID1, disabledButtonID2, disabledButtonID3) {
				var deptid = $(departmentFieldID).val();

				$.ajax({
					headers: { "X-CSRFToken": getCookie("csrftoken") },
					url: "{% url 'Resources:Course' %}",
					type: "POST",
					data: { depart: deptid },
					dataType: "json",
					success: function (response) {
						var len = Object.keys(response).length;

						$(courseFieldID).empty();
						$(courseFieldID).append("<option value='0' disabled selected>--Select Course--</option>");

						$.each(response, function (key, value) {
							$(courseFieldID).append("<option value='" + key + "'>" + value + "</option>");
						});

						$(courseFieldID).removeClass("collapse");

						if (disabledButtonID1 != "") {
							$(disabledButtonID1).removeAttr("disabled");
						}

						if (disabledButtonID1 != "") {
							$(disabledButtonID2).removeAttr("disabled");
						}

						if (disabledButtonID1 != "") {
							$(disabledButtonID3).removeAttr("disabled");
						}
					},
				});
			}

			function onCourseChange(courseFieldID, branchFieldID, disabledButtonID1, disabledButtonID2, disabledButtonID3) {
				var deptid = $(courseFieldID).val();

				$.ajax({
					headers: { "X-CSRFToken": getCookie("csrftoken") },
					url: "{% url 'Resources:Branch' %}",
					type: "POST",
					data: { course: deptid },
					dataType: "json",
					success: function (response) {
						var len = Object.keys(response).length;

						$(branchFieldID).empty();
						$(branchFieldID).append("<option value='0' disabled selected>--Select Branch--</option>");

						$.each(response, function (key, value) {
							$(branchFieldID).append("<option value='" + key + "'>" + value + "</option>");
						});

						$(branchFieldID).removeClass("collapse");

						if (disabledButtonID1 != "") {
							$(disabledButtonID1).removeAttr("disabled");
						}

						if (disabledButtonID1 != "") {
							$(disabledButtonID2).removeAttr("disabled");
						}

						if (disabledButtonID1 != "") {
							$(disabledButtonID3).removeAttr("disabled");
						}
					},
				});
			}

			function onBranchChange(branchFieldID, semesterFieldID, disabledButtonID1, disabledButtonID2, disabledButtonID3) {
				var deptid = $(branchFieldID).val();

				$.ajax({
					headers: { "X-CSRFToken": getCookie("csrftoken") },
					url: "{% url 'Resources:Semester' %}",
					type: "POST",
					data: { branch: deptid },
					dataType: "json",
					success: function (response) {
						var len = Object.keys(response).length;

						$(semesterFieldID).empty();
						$(semesterFieldID).append("<option value='0' disabled selected>--Select Semester--</option>");

						$.each(response, function (key, value) {
							$(semesterFieldID).append("<option value='" + key + "'>" + value + "</option>");
						});

						$(semesterFieldID).removeClass("collapse");

						if (disabledButtonID1 != "") {
							$(disabledButtonID1).removeAttr("disabled");
						}

						if (disabledButtonID1 != "") {
							$(disabledButtonID2).removeAttr("disabled");
						}

						if (disabledButtonID1 != "") {
							$(disabledButtonID3).removeAttr("disabled");
						}
					},
				});
			}

			function onSemesterChange(buttonID) {
				$(buttonID).removeAttr("disabled");
			}

			$(function () {
				$("#id_senroll").keyup(function () {
					this.value = this.value.toLocaleUpperCase();
				});
			});

			$(function () {
				$("#id_fid").keyup(function () {
					this.value = this.value.toLocaleUpperCase();
				});
			});

			$("#FacultyForm").submit(function( event ) {
			
				var joining = new Date($('#id_Joining').val());
				var dob = new Date($('#id_DOB').val());

				if(joining <= dob) {
					alert("Joining date must be greater than date of birth.");
					event.preventDefault();
				}
			
			});
		</script>
	</body>
</html>
