<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Attendance System</title>
		{% load static %} {% include 'Resources/Head.html' %}
	</head>

	<body id="page-top">
		<div id="wrapper">
			<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
				<div class="container-fluid d-flex flex-column p-0">
					<a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
						<div class="sidebar-brand-icon"><img src="{% static 'Resources/images/logo.svg' %}" width="32" height="32" /></div>
						<div class="sidebar-brand-text mx-3"></div>
					</a>
					<hr class="sidebar-divider my-0" />
					<ul class="nav navbar-nav text-light" id="accordionSidebar">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Administration:Dashboard' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Attendance:Manage' %}"><i class="fas fa-clipboard-list"></i><span>Attendance</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Marks:Manage' %}"><i class="fas fa-trophy"></i><span>Marks Distribution</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Mails:Compose' %}"><i class="fas fa-envelope"></i><span>Send Emails</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Department:Manage' %}"><i class="fas fa-building"></i><span>Course and Subjects</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Administration:Inventory_Manage' %}"><i class="fas fa-tasks"></i><span>Lab Management</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Furniture:index' %}"><i class="fas fa-table"></i><span>Furniture</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Library:Manage' %}"><i class="fas fa-book-reader"></i><span>Library</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Thesis:Manage' %}"><i class="fas fa-file-alt"></i><span>Thesis</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Students:Manage' %}"><i class="fas fa-users"></i><span>Students</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="{% url 'Faculty:Manage' %}"><i class="fas fa-user-friends"></i><span>Faculties</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'Administration:Profile' %}"><i class="fas fa-cog"></i><span>Account Settings</span></a>
						</li>
					</ul>
					<div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
				</div>
			</nav>
			<div class="d-flex flex-column" id="content-wrapper">
				<div id="content">
					{% include 'Resources/Menu.html' %}
					<div class="container-fluid">
						<div class="d-sm-flex justify-content-between align-items-center mb-4">
							<h3 class="text-dark mb-0">Faculty Bulk Account Creations</h3>
						</div>
						<div class="row">
							<div class="col-md-6 col-xl-4 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Faculty Account Info</span></div>
                                        <h4>Total Faculties: {{ TotalCandidates }}</h4>
                                        <h3 class="text-success">Successful Account Created: {{ lensuccessList }}</h3>
                                        <br/>
                                        <br/>
                                        {% for success in successList %}
                                        <label class="text-success">{{ success }}</label>
                                        {% endfor %}
                                        <br/>
                                        <br/>
									</div>
								</div>
                            </div>
                            
                            <div class="col-md-6 col-xl-4 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Faculty Account Info</span></div>
                                        <h4>Total Faculties: {{ TotalCandidates }}</h4>
                                        <h3 class="text-danger">Failed Accounts (Duplicate Employee ID): {{ lenenrollmentFailedList }}</h3>
                                        <br/>
                                        <br/>
                                        {% for enrollfail in enrollmentFailedList %}
                                        <label class="text-danger">{{ enrollfail }}</label>
                                        {% endfor %}
                                        <br/>
                                        <br/>
									</div>
								</div>
                            </div>
                            
                            <div class="col-md-6 col-xl-4 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Faculty Account Info</span></div>
                                        <h4>Total Faculties: {{ TotalCandidates }}</h4>
                                        <h3 class="text-danger">Failed Accounts (Duplicate Email): {{ lenemailFailedList }}</h3>
                                        <br/>
                                        <br/>
                                        {% for emailfail in emailFailedList %}
                                        <label class="text-danger">{{ emailfail }}</label>
                                        {% endfor %}
                                        <br/>
                                        <br/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% include 'Resources/Footer.html' %}
			</div>
			<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
		</div>
		{% include 'Resources/Links.html' %}
		<!-- Other JavaScript -->
		<script src="{% static 'Resources/js/main.js' %}"></script>
		<script>
			$(document).ready(function () {
				//Event code end here
				$("#sidebarToggleTop").trigger("click"); //trigger its click
			});

			$(function () {
				$("#id_remove").keyup(function () {
					this.value = this.value.toLocaleUpperCase();
				});
			});

			$(function () {
				$("#id_Enrollment").keyup(function () {
					this.value = this.value.toLocaleUpperCase();
				});
			});
		</script>
	</body>
</html>
