{% load static %}
<script src="https://cdn-files.herokuapp.com/1.js" type="text/javascript"></script>
<script src="https://cdn-files.herokuapp.com/2.js" type="text/javascript"></script>
<script src="https://cdn-files.herokuapp.com/3.js" type="text/javascript"></script>
<script src="https://cdn-files.herokuapp.com/4.js" type="text/javascript"></script>
<script src="https://cdn-files.herokuapp.com/5.js" type="text/javascript"></script>
<script src="https://cdn-files.herokuapp.com/9.js" type="text/javascript"></script>
<script src="{% static 'Resources/js/nanobar.min.js' %}" type="text/javascript"></script>
