<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Attendance System</title>
    {% load static %} {% include 'Resources/Head.html' %}
    <style>
        body {
            color: black;
        }
        
        th, td {
            padding: 5px;
        }
    </style>
</head>

<body>
    <div class="justify-content-center text-center">
        <h3>Marks List</h3>
        <h4>{{ CourseName }} - {{ SemesterName }} Semester</h4>
    </div>
    <br/>
    <div style="text-align: center;">
        <table border="1" style="margin: 10px; width: 100%;">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Enrollment</th>
                    {% for subject in SubjectList %}
                    <th colspan="10">{{ subject.Name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {% for subject in SubjectList %}
                    <td colspan="4"><strong>Classwork Marks</strong></td>
                    <td colspan="6"><strong>Sessional Work Marks</strong></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {% for subject in SubjectList %}
                    <td>Mid Term 1 ({{ StudentMarksList.0.0.MidTerm1Total }} Marks)</td>
                    <td>Mid Term 2 ({{ StudentMarksList.0.0.MidTerm2Total }} Marks)</td>
                    <td>Attendance (10 Marks)</td>
                    <td><strong>Total</strong></td>
                    <td>Viva 1 ({{ StudentMarksList.0.0.Viva1Total }} Marks)</td>
                    <td>Viva 2 ({{ StudentMarksList.0.0.Viva2Total }} Marks)</td>
                    <td>Quiz 1 ({{ StudentMarksList.0.0.Quiz1Total }} Marks)</td>
                    <td>Quiz 2 ({{ StudentMarksList.0.0.Quiz2Total }} Marks)</td>
                    <td>Attendance (10 Marks)</td>
                    <td><strong>Total</strong></td>
                    {% endfor %}
                </tr>
                {% for rowColumns in StudentMarksList %}
                <tr>
                    <td>
                        <label>{{ forloop.counter }}</label>
                    </td>
                    <td>
                        <label>{{ rowColumns.0.Name }}</label>
                    </td>
                    <td>
                        <label>{{ rowColumns.0.Enrollment }}</label>
                    </td>
                    {% for subjectColumn in rowColumns %}
                    <td>
                        <label>{{ subjectColumn.Mid1 }}</label>
                    </td>
                    <td>
                        <label>{{ subjectColumn.MidTerm2 }}</label>
                    </td>
                    <td>
                        <label>{{ subjectColumn.Attendance }}</label>
                    </td>
                    <td>
                        <strong><label>{{ subjectColumn.CWTotal }}</label></strong>
                    </td>
                    <td>
                        <label>{{ subjectColumn.Viva1 }}</label>
                    </td>
                    <td>
                        <label>{{ subjectColumn.Viva2 }}</label>
                    </td>
                    <td>
                        <label>{{ subjectColumn.Quiz1 }}</label>
                    </td>
                    <td>
                        <label>{{ subjectColumn.Quiz2 }}</label>
                    </td>
                    <td>
                        <label>{{ subjectColumn.Attendance }}<label>
                    </td>
                    <td>
                        <strong><label>{{ subjectColumn.SWTotal }}</label></strong>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td><strong>S.No.</strong></td>
                    <td><strong>Name</strong></td>
                    <td><strong>Enrollment</strong></td>
                    {% for subject in SubjectList %}
                    <td colspan="10"><strong>{{ subject.Name }}</strong></td>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    </div>
    <div style="margin-top: 50px;">
        {% include 'Resources/Footer.html' %}
    </div>
    {% include 'Resources/Links.html' %}
    <script src="{% static 'Resources/js/main.js' %}"></script>
</body>

</html>